.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1e3c72, #2a5298); /* gradient */
  padding: 0 16px;
  color: white;
  position: relative;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2a5298;
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px 0;
    z-index: 999;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: absolute;
  }
}